*{
    margin:5px;

}
header{
    widows: 100%;
}
body{
    background-image:url(../imagenes/nintendo.jpg);
    background-size:100%; 
    height:100%;
    width:100%;
    margin-top: 200px;
    margin-bottom:100px;
}
h1{
    color:white;
    font-family:consolas ;
}
img{
    border-radius:40%;
    width:150px; height: 150px;
    box-shadow:black 15px 15px 4px;
}
img:hover{
    transform:scale(2)
}
h3{
    font-family: consolas ;
    color: white;
    text-align: center;
}
footer{
    border-radius: 50%;
}